<div class="option">
  <span class="notification">{{ notification }}</span>
  <div class="container-input">
    <button class="btn" (click)="updateData()">Save</button>
    <label>Auto save</label>
    <input type="checkbox" [checked]="checked" />
  </div>
</div>

<hot-table [settings]="settings" [data]="staffList" [colWidths]="columnWidths">
</hot-table>
